/* ------- HOME PAGE ------- */

#hero-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#cow-and-flowers,
#cow-and-flowers-tablet {
    height: 350px;
}

#both-shop-hours {
    display: flex;
    justify-content: center;
}

#coffee-shoppe-section,
#boutique-shoppe-section {
    padding: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#coffee-shoppe-section:hover,
#boutique-shoppe-section:hover {
    outline: none;
    border-color: white;
}

#coffee-shoppe-section:hover {
    box-shadow: inset 0 0 50px #918689;
}

#boutique-shoppe-section:hover {
    box-shadow: inset 0 0 50px #fff0f0;
}

#coffee-shoppe-section,
#coffee-flights-info {
    background-image: linear-gradient(#4a4345, var(--clr-light-cocoa));
}

#boutique-shoppe-section {
    background-image: linear-gradient(#ffd8d8, #d7b4b4);
}

.padding {
    padding: 0.3em;
}

#coffee-shop-hours,
#boutique-shop-hours {
    text-align: left;
}

#flights-image {
    border-top: solid var(--clr-text-color-pinkish);
    border-bottom: solid var(--clr-text-color-pinkish);
    background-image: url('images/Hens&honeyFLIGHTS.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#coffee-flights-info {
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--clr-text-color-pinkish);
}

#align-flights-info {
    align-self: center;
}

#farm-image-container {
    transform: translate(0, 0);
}

#farm-image {
    background-image: url('images/Hens&HoneyHome.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hello-from-valerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

#hello-paragraph-homepage {
    max-width: 750px;
    margin-bottom: 2em;
    line-height: 1.9;
}

/* ------------- MEDIA QUERIES ------------- */

#hero-home-tablet {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 5em;
    text-align: center;
}

#cow-and-flowers-tablet {
    margin-left: 4em;
}

@media (max-width: 50em) {
    #hero-home {
        display: none;
    }
    #hero-home-tablet {
        display: flex;
    }
    #both-shop-hours {
        flex-direction: column;
    }
    #coffee-shoppe-section,
    #boutique-shoppe-section {
        padding: 2em;
    }
}

@media (max-width: 33em) {
    #hero-home-tablet {
        padding: 3em;
    }
    #coffee-flights-info ul {
        padding: 0;
    }
    #coffee-flights-info h1 {
        text-align: center;
    }
    #follow-me {
        text-align: center;
    }
    #hello-from-valerie,
    #coffee-flights-info,
    #coffee-shoppe-section,
    #boutique-shoppe-section {
        padding: 4em 3em 4em;
    }
}

/*  ------------------ CREDITS PAGE -------------------- */

#credits-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    min-height: calc(100vh - 300px);
}

#credits-container {
    background-color: var(--clr-light-cocoa);
    border-radius: 10px;
    padding: 3em;
    max-width: 1300px;
    padding: 8em;
}

#credits-container > h1 {
    margin-bottom: 2em;
}

#iconify-link {
    color: var(--clr-text-color-pinkish);
}
#iconify-link:hover {
    color: var(--clr-hot-pink);
}

@media (max-width: 38em) {
    #credits-container {
        padding: 2em !important;
    }
    #credits-container > h1 {
        font-size: var(--fs-400);
    }
}

@media (max-width: 50em) {
    #credits-container {
        padding: 5em;
    }
}
