/*  ------- PRODUCTS PAGE -------- */

#products-image-hero {
    border-top: solid var(--clr-text-color-pinkish);
    border-bottom: solid var(--clr-text-color-pinkish);
    background-image: url('images/Hens&HoneyCookingOIl.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#products-hero-text {
    max-width: 1200px;
    margin-top: 2em;
    line-height: 1.9;
}

/* ------------- DESKTOP --------------- */

.product-image-left-desktop {
    max-height: 900px;
    /* transform: translateX(-0.5%); */
    border-radius: 80px;
}

.product-image-right-desktop {
    max-height: 900px;
    /* transform: translateX(0.5%); */
    border-radius: 80px;
}

#product-1-desktop,
#product-2-desktop,
#product-3-desktop,
#product-4-desktop {
    display: flex;
    align-items: center;
    margin: 8em 25em 0;
    gap: 10em;
}

.product-description-right-desktop,
.product-description-left-desktop {
    line-height: 2;
}

/* ------------- TABLET --------------- */

#product-1-tablet,
#product-2-tablet,
#product-3-tablet,
#product-4-tablet {
    display: none;
    align-items: center;
    margin-top: 8em;
}

.product-image-left-tablet {
    max-height: 810px;
    max-width: 690px;
    transform: translateX(-10%);
    border-radius: 0 100px 100px 0;
}

.product-description-right-tablet {
    margin-right: 6em;
    line-height: 2;
}

.product-image-right-tablet {
    max-height: 810px;
    max-width: 690px;
    transform: translateX(10%);
    border-radius: 100px 0 0 100px;
}

.product-description-left-tablet {
    margin-left: 6em;
    line-height: 2;
}

/* ------------- MOBILE --------------- */

#product-1-mobile,
#product-2-mobile,
#product-3-mobile,
#product-4-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 4em;
}

.product-image-mobile {
    border-radius: 600px;
}

.product-description-mobile {
    max-width: 300px;
    margin: 2em 0 2em;
    line-height: 1.7;
}

/* ------------- Theres more --------------- */

#but-wait-theres-more,
#but-wait-theres-more-mobile {
    padding: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: solid var(--clr-text-color-pinkish); */
    background-image: linear-gradient(#4a4345, var(--clr-light-cocoa));
    margin-top: 8em;
}

#but-wait-theres-more {
    display: flex;
}

#but-wait-theres-more-mobile {
    display: none;
}

#align-info,
#align-info-mobile {
    align-self: center;
}

#stop-and-visit,
#stop-and-visit-mobile {
    padding-top: 30px;
}

#mug-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030000;
}

/* ------------- sCREEN SIZES--------------- */

@media (max-width: 120em) {
    #product-1-desktop,
    #product-2-desktop,
    #product-3-desktop,
    #product-4-desktop {
        display: none;
    }
    #product-1-tablet,
    #product-2-tablet,
    #product-3-tablet,
    #product-4-tablet {
        display: flex;
    }

    #products-hero-text {
        max-width: 900px;
    }
}

@media (max-width: 60em) {
    #product-1-tablet,
    #product-2-tablet,
    #product-3-tablet,
    #product-4-tablet,
    #but-wait-theres-more {
        display: none;
    }
    #product-1-mobile,
    #product-2-mobile,
    #product-3-mobile,
    #product-4-mobile,
    #but-wait-theres-more-mobile {
        display: flex;
    }
    #products-hero-text {
        max-width: 300px;
    }
}

@media (max-width: 33em) {
    #but-wait-theres-more-mobile {
        padding: 5em 1.5em 5em;
    }
}
